*,
*::after,
*::before {
    box-sizing: border-box;
}
.body {
    font-family: Montserrat, sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
}
.navbar {
    text-align: center;
    padding: 0;
    margin-top: 25.5px;
    margin-bottom: 25.52px;
}
.navbar__item {
    display: inline-block;
    margin-right: 72px;
}
.navbar-link {
    color: red;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
    text-transform: uppercase;
}
.name {
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 3.3px;
    margin: 40px 0;
}
p {
    font-size: 16px;
    line-height: 26px;

    text-align: center;
    letter-spacing: 2.4px;
    padding-left: 67.5px;
    padding-right: 67.5px;
    margin-bottom: 28px;
    margin-top: 0;

    color: #373737;
}
.main-content {
    width: 1280px;
    margin: 0 auto;
    margin-bottom: 82px;
    margin-top: 48px;
}
button {
    padding: 0;
    width: 191px;
    height: 51px;
    border-radius: 4px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    color: #FFFFFF;
    background: red;
}
.page-footer {
    width: 1280px;
    margin: 0 auto;
    text-align: right;
    margin-bottom: 29px;
}
span {
    margin-right: 105px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #373737;
}
.chg_btn {
    background-color: #5858e7;
}


