*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    font-family: 'Roboto', sans-serif;
}
.wrapper {
    width: 1280px;
    margin: 0 auto;
}
.page-header {
    margin-top: 61px;
}
.logo {
    text-decoration: none;
    text-transform: capitalize;
    color: #000000;
    font-size: 80px;
    /*width: 334px;*/
    /*height: 79px;*/
    margin-bottom: 38px;
    display: flex;
}
.text-color {
    color: #21bee3;
    text-transform: none;
}
.top-menu {
    background-color: #35444F;
    display: flex;
    justify-content: center;
}
.link:hover {
    background: #222F3A;
}
.top-menu_links {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 26px 33px 19px 33px;
}
.top-menu_item {
    /*padding: 26px 33px 19px 33px;*/
    border-left: 1px solid #FFFFFF;
    font-size: 24px;
}
.content {
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: space-between;
}
/*.marker:hover {*/
/*    background: #DBDBDB;*/
/*    color: #35444F;*/
/*    text-align: center;*/
/*    transition: 0.3s;*/
/*    padding: 26px 82px 30px 44px;*/
/*}*/
.left-menu  {
    border: 1px solid #000000;
}
.left-menu_item {
    width: 342px;
    padding: 26px 82px 30px 44px;
}
.left-menu_links {
    text-decoration: none;
    color: #495863;
    font-size: 27px;
    /*padding: 26px 82px 30px 44px;*/


}
.left-menu_item:hover {
    background: #DBDBDB;
    color: #35444F;
    text-align: center;
    transition: 0.3s;
    /*padding: 26px 82px 30px 44px;*/
}
.main-content {
    width: 885px;
}
img:hover {
    transform: scale(1.3);
    transition: 0.5s;
}
.image {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
    height: 529px;
    margin-bottom: 37px;
    align-items: center;
}
.main-content_text {
    font-size: 18px;
    /*line-height: 24px;*/
    color: #2C2C2C;
    margin-top: 34px;
}
.bottom-navbar {
    /*width: 100%;*/
    /*border: 1px solid black;*/
    /*display: inline-flex;*/
    /*justify-content: start;*/
    display: flex;
    justify-content: space-between;
    padding: 0 40px;

    align-items: center;
    margin-top: 54px;
    margin-bottom: 30px;
    background: rgba(99, 105, 110, 0.48);
    color: #3181A6;
}
/*.deco a:hover {*/
/*    color: #3181A6;*/
/*    border-bottom: 4px solid #3181A6;*/
/*}*/
.bottom-menu_item {
    font-size: 28px;
    margin-right: 40px;
}
.bottom-menu {
    display: flex;
}
.bottom-menu_links {
    text-decoration: none;
    font-size: 28px;
    color: #0C1927;
}
.bottom-menu_links:hover {
    color: #3181A6;
    border-bottom: 4px solid #3181A6;
}
.copyright {
    /*padding-left: 80px;*/
    font-size: 24px;
    color: #010101;
}




