*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    font-family: 'Ubuntu', sans-serif;
}
.container {
    height: 768px;
    background-image: url("../img/bckgrd.png");
    background-size: 100%;
    position: relative;
}
.page-header {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: flex-end;
}
.journey {
    position: absolute;
    left: 0;
    margin: 18px 0 18px  79px;
    width: 157px;
    display: flex;
    font-weight: bold;
    font-size: 22px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-decoration: none;
}
.journey:hover {
    color: #3CB878;
}
.green_mark {
    color: #ffffff;
    font-size: 14px;
    text-decoration: none;
}
.green_mark:hover {
    color: #3CB878;
}
.a {
    border: none;
}
.link:hover svg path {
    fill: #3CB878;
}
.welcome {
    height: 19px;
    left: 1083px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #FFFFFF;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    margin-right: 79px;
    margin-top: 18px;
    padding-left: 19px;
}
.icons .link {
    margin-right: 25px;
}
.sing_up {
    border: 1px solid orange;
}
.main-content {
    position: relative;
}
.menu {
    position: absolute;
    top: 70px;
    left: 570px;
    bottom: 71px;
    width: 444px;
    height: 584px;
    background: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.menu:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    top: 29px;
}
.login {
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
}
.sing {
    margin-top: 26px;
    margin-right: 91px;
    font-size: 20px;
    color: #434343;
}
.log {
    margin-top: 33px;
    font-size: 14px;
    color: #3CB878;
    text-decoration: none;
}
.log:hover {
    text-decoration: underline;
    color: #01813F;
}
.button_name {
    margin-left: 10px;
}
.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}
.button_f {
    margin-right: 4px;
    background: #305DB8;
    color: #FFFFFF;
    align-items: center;
    justify-content: start;
}
.button_f:focus {
    background: #022263;
    color: #FFFFFF;
}
.button_name_f {
    display: flex;
    height: 28px;
    padding-left: 17px;
    border-left: 1px solid rgba(10, 22, 47, 0.1);
    align-items: center;
}
.button_form_f {
    margin-left: 16px;
    margin-right: 17px;
}
.f-g {
    display: flex;
    width: 160px;
    font-size: 16px;
    border-radius: 4px;
    border: none;
    padding: 0;
}
.f-g, .f-g:active, .f-g, .button {
    outline: none;
    text-decoration: none;
}
.button_g {
    height: 48px;
    background: #DF4A32;
    align-items: center;
    color: #FFFFFF;
}
.button_g:focus {
    background: #AB1F09;
}
.button_name_g {
    display: flex;
    height: 28px;
    padding-left: 30px;
    border-left: 1px solid rgba(43, 13, 9, 0.1);
    align-items: center;
}
.button_form_g {
    margin-left: 12px;
    margin-right: 7px;
}
.or {
    justify-content: center;
    text-align: center;
    font-size: 14px;
    margin-bottom: 11px;
}
.or:before,
.or:after {
    content: "";
    display: inline-block;
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
}
.or:before {
    left: 60px;
    bottom: 431px;
}
.or:after {
    right: 60px;
    bottom: 431px;
}
.form-label_input {
    position: relative;
    display: grid;
    margin-left: 60px;
}
.form-input {
    border: 1px solid #F2F2F2;
    border-radius: 4px;
    margin-bottom: 15px;
    padding-left: 20px;
    width: 324px;
    height: 46px;
    background: #FFFFFF;
}
.form-input:focus {
    outline: none;
    background: #FFFFFF;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
}
.form-label {
    position: relative;
    display: inline-block;
    left: 98px;
    font-size: 14px;
    color: #434343;
    margin-bottom: 20px;
}
.form-checkbox {
    display: grid;
    position: absolute;
    left: 61px;
    bottom: 92.9px;
}
.form-checkbox:checked + .agree {
    color: #01813F;
}
.terms {
    color: rgba(60, 184, 120, 0.8);
}
.terms:hover {
    color: #01813F;
    text-decoration: underline;
}
.agree {
    margin-left: 90px;
    margin-bottom: 20px;
    margin-top: 0;
}
.button {
    display: flex;
    width: 324px;
    height: 46px;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 60px;
    color: #FFFFFF;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    border: none;
}
.button:focus {
    background: #01813F;
}

