*,
*::after,
*::before {
    box-sizing: border-box;
}
.active {
    outline-color: green;
    border-radius: 4px;
    border: 2px solid green;
}
.error {
    border-color: red;
}
#error {
    color: red;
}
#price {
    padding-left: 5px;
    margin-top: 5px;
    width: 211px;
    border: 1px solid black;
    border-radius: 10px;
}
button {
    border-radius: 20px;
    margin-left: 5px ;
}