*,
*::after,
*::before {
    box-sizing: border-box;
}
.image-to-show {
    display: none;
    width: 400px;
    height: 400px;
    margin-bottom: 100px;
}
.images-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.buttons {
    padding: 20px;
    margin: 10px;
    background-color: yellow;
    text-transform: uppercase;
    color: blue;
    font-weight: bold;
    border-radius: 10px;
}
.active {
    display: block;
}