.footer {
    // .footer__content

    &__content {
    }

    // .footer__title

    &__title {
    }

    // .footer__text

    &__text {
    }

    // .footer__icon

    &__icon {
    }

    // .footer__icon-link

    &__icon-link {
    }

    // .footer__icon-img

    &__icon-img {
    }

    // .footer__contacts

    &__contacts {
    }
}
.rss {
}
.facebook {
}
.twitter {
}
.dribbble {
}
.painterest {
}
