.header {
    // .header__nav

    &__nav {
    }

    // .header__list

    &__list {
    }

    // .header__list-item

    &__list-item {
    }

    // .header__burger

    &__burger {
    }
}
.container {
}
