.main {
    // .main__bg

    &__bg {
    }

    // .main__title

    &__title {
    }

    // .main__content

    &__content {
    }
}
.content {
    // .content__item

    &__item {
    }

    // .content__item-img

    &__item-img {
    }

    // .content__item-title

    &__item-title {
    }

    // .content__item-comment

    &__item-comment {
    }

    // .content__item-text

    &__item-text {
    }
}
.instagram {
    // .instagram__page

    &__page {
    }

    // .instagram__page-title

    &__page-title {
    }

    // .instagram__page-link

    &__page-link {
    }

    // .instagram__img

    &__img {
    }

    // .instagram__img-shots

    &__img-shots {
    }
}
