
body {
    background: url("../img/honda.jpg");
    background-size: cover;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
.block {
    position: absolute;
    width: 40%;
    height: 70%;
    margin: 0 30%;
    color: #ff0000;
    font-size: 26px;
    line-height: 50px;
    transform: perspective(450px) rotateX(40deg);
}
.text {
    position: absolute;
    top: 100%;
    animation: aircraft 30s infinite;
}
@keyframes aircraft {
    0% {
        opacity: 0;
        top: 100%;
    }
    10% {
        opacity: 1;
    }
    95% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        top: -200%;
    }
}
