*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.page-body {
    background-image: url("../img/background_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
}
.logo_info {
    display: flex;
    justify-content: space-around;
}
.logo_milan {
    display: flex;
    margin-top: 55px;
    margin-bottom: 22px;
    margin-right: 111px;
}
.milan {
    display: flex;
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.logo_milan:hover .logo_link1 {
    background: url("../img/logo_2.png") no-repeat;
}
.logo_milan:hover .logo_link2 {
    color: #F26522;
}
.logo_link1 {
    background: url("../img/logo_1.png") no-repeat;
    padding-right: 61px;
}
.logo_link2 {
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-left: 8px;
}
.contacts {
    display: grid;
    align-content: center;
    text-align: right;
    font-size: 18px;
    text-decoration: none;
    margin-left: 117px;
}
a {
    color: #FFFFFF;
    text-decoration: none;
}
a:hover {
    color: #F26522;
}
.mail {
    margin-bottom: 0;
    margin-top: 46px;
}
.tel {
    margin-bottom: 17px;
    margin-top: 16px;
    text-align: right;
}
.container {
    display: grid;
    margin: 0 auto;
}
.photos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 37px 99px;
    padding: 0;
    margin: 0 auto;
}
.photos_name {
    font-size: 18px;
    color: #FFFFFF;
    text-transform: capitalize;
}
.tour_name {
    text-align: center;
    margin-top: 20px;
}
.photos_name:hover {
    color: #F26522;
}
.photo_item {
    display: grid;
    list-style: none;
}
.copyright {
    font-size: 12px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 49px;
}