*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    font-family: 'Open Sans', sans-serif;
}
.wrapper {
    max-width: 1900px;
    margin: 0 auto;
    overflow-x: hidden;
}
.top_navbar {
    display: flex;
    justify-content: space-between;
    background: #313131;
}
.left_logo {
    display: flex;
    align-items: center;
    margin-top: 22px;
    margin-bottom: 22px;
}
.name {
    display: flex;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 22px;
    color: #FFFFFF;
    padding-left: 27px;
}
span {
    margin-left: 27px;
}
.top_menu {
    padding: 0;
    display: flex;
}
.top_menu_item {
    display: flex;
    margin-top: 28px;
    margin-bottom: 26px;
    align-items: center;
}
.top_menu_item_links {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    padding-right: 35px;
}
.marker:hover {
    color: #14B9D5;
    }
.search {
    display: flex;
    justify-content: center;
}
.lupa {
    display: flex;
    align-items: center;
    padding: 27px 25px 26px 26px;
    background: #000000;
}
.container {
    background-image: url(../img/header-background.png);
    background-size: cover;
    background-position: bottom center;
    min-width: 1280px;
    height: 369px;
}
.latest_news {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding-top: 174px;
    color: #FFFFFF;
    text-transform: uppercase;
    min-width: 1280px;
}
.subscribe {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    width: 170px;
    background: #89CA62;

    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;

    margin-right: 20px;
    margin-top: 44px;
    border-radius: 4px;
}
.articles {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #FFFFFF;
    width: 170px;
    background: #14B9D5;

    font-weight: 600;
    font-size: 18px;
    text-decoration: none;
    text-transform: capitalize;

    padding: 16px 19px 17px;
    margin-top: 44px;
    border-radius: 4px;
}
.text {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}
.title {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 27px;
    text-transform: uppercase;
    color: #18B4CF;
    margin: 0;
    padding-top: 49px;
    padding-bottom: 52px;
}
.main-content {
    position: relative;
}
.posts {
    background: #F2F2F2;
}
.hotels_box {
    width: 1280px;
    height: 830px;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.hotel_line:nth-child(2n+1) {
    margin-bottom: 22px;
}
.hotels_line-name {
    width: 370px;
    display: flex;
    justify-content: center;
    margin: 0;
    padding-top: 20px;
    padding-bottom: 22px;

    font-weight: bold;
    font-size: 18px;

    color: #353A3D;
    background: #FFFFFF;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.our_most_popular_clients {
    background-image: url('../img/our_client.jpeg');
    height: 588px;
    background-position: center;
}
.middle_photo {
    width: 900px;
    margin: 0 auto;
}
.title_name {
    font-weight: bold;
    font-size: 32px;
    position: relative;

    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;

    color: #FFFFFF;
    margin: 0;
    padding-top: 106px;
}
.title_name:after {
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background: #18B4CF;
    position: absolute;
    bottom: -155px;
}
.words_line {
    margin-top: 240px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
}
.top {
    background: #E5E5E5;
    width: 100%;
    margin: 0 auto;
}
.blue-color {
    color: #18B4CF;
    position: absolute;
    top: 273px;
}
.width_photo {
    width: 100%;
}
.top_rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    padding: 0;
}
.hotel_item {
    display: grid;
    grid-template-rows: 259px 1fr;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px 35px;
    grid-template-areas:
		'item1 item1 item1 item2'
		'item3 item3 item4 item4'
		'item5 item5 item6 item6'
		'item7 item8 item8 item8';
}
.item1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-area: item1;
}
.item2 {
    grid-area: item2;
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 1fr 155px;
}
.item3 {
    grid-area: item3;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
}
.item4 {
    grid-area: item4;

    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
}
.item5 {
    grid-area: item5;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
}
.item6 {
    grid-area: item6;
    display: grid;
    grid-template-columns: 554px;
    grid-template-rows: 1fr 155px;
}
.item7 {
    grid-area: item7;
    display: grid;
    grid-template-columns: 277px;
    grid-template-rows: 1fr 205px;
}
.item8 {
    grid-area: item8;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.item {
 text-align: center;
}
.last_news {
    background: rgba(0, 0, 0, 0.0001);
    height: 1683px;
}
.hotel_item {
    width: 1145px;
    margin: 0 auto;
    text-align: right;
    padding: 0;
}
.hotels_name {
    margin: 0 auto;
    padding: 15px 20px 14px 27px;

    font-weight: bold;
    font-size: 18px;

    color: #353A3D;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.hotels_news {
    margin: 0 auto;
    padding-right: 20px;

    font-weight: 600;
    font-size: 14px;
    line-height: 21px;

    color: #5B6469;
    background: #F9F7F7;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03);
}
.black_bar {
    background: #000000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    margin: 0 auto;
}
.footer_bar {
    display: flex;
}
.copyright {
    font-size: 13px;
    color: #FFFFFF;
}


